body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.profile-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

/* .profile-info p {
  font-size: 16px;
  color: #555;
} */

.profile-info p {
  position: relative; /* Make the password container position relative */
}

#eye-icon {
  position: absolute;
  right: 0; /* Position it on the right edge of the parent container */
  top: 50%; /* Vertically center it */
  transform: translateY(-50%); /* Adjust for perfect centering */
  cursor: pointer; /* Make the icon look clickable */
}

.update-section {
  margin-top: 20px;
}

.update-section h3 {
  font-size: 18px;
  color: #333;
}

.update-section input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.update-section button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.update-section button:hover {
  background-color: #45a049;
}

.games-scores {
  margin-top: 30px;
}

.games-scores p {
  font-size: 16px;
  color: #555;
}

button#back-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
}

button#back-button:hover {
  background-color: #0056b3;
}
